
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Dark theme
$dark-primary: mat-palette($mat-indigo, 300);
$dark-accent:  mat-palette($mat-teal, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
@include angular-material-theme($dark-theme);

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

/* You can add global styles to this file, and also import other style files */

select, textarea, input[type="text"], input[type="password"],
input[type="datetime"], input[type="datetime-local"],
input[type="date"], input[type="month"], input[type="time"],
input[type="week"], input[type="number"], input[type="email"],
input[type="url"]{ font-size: 16px !important; }

html, body { height: 100%; background-color: #101010;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 16px; }
input, select { font-size: 100%; }
.mat-card {
  background-color: #212121;
}

.float {
  &.left {
    float: left;
  }
  &.right {
    float: right;
  }
}

.clear {
  clear: both;
}

.d-flex {
  display: flex;
}

.flex-2 {
  flex: 2;
}

.fill {
  &.width {
    width: 100%;
  }
  &.height {
    height: 100%;
  }
}

.text {
  &.color {
    &.primary {
      color: mat-color($dark-primary, 300);
    }
    &.accent {
      color: mat-color($dark-accent, 300)
    }
    &.warn {
      color: mat-color($dark-warn, 300)
    }
    &.blue {
      color: mat-color($mat-blue, 300)
    }
    &.green {
      color: mat-color($mat-green, 300)
    }
    &.amber {
      color: mat-color($mat-amber, 300)
    }
  }

  &.align {
    &.right {
      text-align: right;
    }
    &.center {
      text-align: center;
    }
    &.justify {
      text-align: justify;
    }
  }
}

.items {
  &.align {
    &.center {
      align-items: center;
    }
  }
}

.table {
  display: table;
  width: 100%;
  
  &.row {
    display: table-row;
  }

  &.cell {
    display: table-cell;
  }  
}

$spacer: 1rem !default;
.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: $spacer * .25 !important;
}
.mt-2 {
  margin-top: $spacer * .5 !important;
}
.mt-3 {
  margin-top: $spacer !important;
}
.mt-4 {
  margin-top: $spacer * 1.5 !important;
}
.mt-5 {
  margin-top: $spacer * 3 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: $spacer * .25 !important;
}
.mb-2 {
  margin-bottom: $spacer * .5 !important;
}
.mb-3 {
  margin-bottom: $spacer !important;
}
.mb-4 {
  margin-bottom: $spacer * 1.5 !important;
}
.mb-5 {
  margin-bottom: $spacer * 3 !important;
}

.ml-0 {
  margin-left: 0 !important;
}
.ml-1 {
  margin-left: $spacer * .25 !important;
}
.ml-2 {
  margin-left: $spacer * .5 !important;
}
.ml-3 {
  margin-left: $spacer !important;
}
.ml-4 {
  margin-left: $spacer * 1.5 !important;
}
.ml-5 {
  margin-left: $spacer * 3 !important;
}

.mr-0 {
  margin-right: 0 !important;
}
.mr-1 {
  margin-right: $spacer * .25 !important;
}
.mr-2 {
  margin-right: $spacer * .5 !important;
}
.mr-3 {
  margin-right: $spacer !important;
}
.mr-4 {
  margin-right: $spacer * 1.5 !important;
}
.mr-5 {
  margin-right: $spacer * 3 !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.mx-1 {
  margin-left: $spacer * .25 !important;
  margin-right: $spacer * .25 !important;
}
.mx-2 {
  margin-left: $spacer * .5 !important;
  margin-right: $spacer * .5 !important;
}
.mx-3 {
  margin-left: $spacer !important;
  margin-right: $spacer !important;
}
.mx-4 {
  margin-left: $spacer * 1.5 !important;
  margin-right: $spacer * 1.5 !important;
}
.mx-5 {
  margin-left: $spacer * 3 !important;
  margin-right: $spacer * 3 !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.my-1 {
  margin-top: $spacer * .25 !important;
  margin-bottom: $spacer * .25 !important;
}
.my-2 {
  margin-top: $spacer * .5 !important;
  margin-bottom: $spacer * .5 !important;
}
.my-3 {
  margin-top: $spacer !important;
  margin-bottom: $spacer !important;
}
.my-4 {
  margin-top: $spacer * 1.5 !important;
  margin-bottom: $spacer * 1.5 !important;
}
.my-5 {
  margin-top: $spacer * 3 !important;
  margin-bottom: $spacer * 3 !important;
}

.pt-0 {
  padding-top: 0 !important;
}
.pt-1 {
  padding-top: $spacer * .25 !important;
}
.pt-2 {
  padding-top: $spacer * .5 !important;
}
.pt-3 {
  padding-top: $spacer !important;
}
.pt-4 {
  padding-top: $spacer * 1.5 !important;
}
.pt-5 {
  padding-top: $spacer * 3 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}
.pb-1 {
  padding-bottom: $spacer * .25 !important;
}
.pb-2 {
  padding-bottom: $spacer * .5 !important;
}
.pb-3 {
  padding-bottom: $spacer !important;
}
.pb-4 {
  padding-bottom: $spacer * 1.5 !important;
}
.pb-5 {
  padding-bottom: $spacer * 3 !important;
}

.pl-0 {
  padding-left: 0 !important;
}
.pl-1 {
  padding-left: $spacer * .25 !important;
}
.pl-2 {
  padding-left: $spacer * .5 !important;
}
.pl-3 {
  padding-left: $spacer !important;
}
.pl-4 {
  padding-left: $spacer * 1.5 !important;
}
.pl-5 {
  padding-left: $spacer * 3 !important;
}

.pr-0 {
  padding-right: 0 !important;
}
.pr-1 {
  padding-right: $spacer * .25 !important;
}
.pr-2 {
  padding-right: $spacer * .5 !important;
}
.pr-3 {
  padding-right: $spacer !important;
}
.pr-4 {
  padding-right: $spacer * 1.5 !important;
}
.pr-5 {
  padding-right: $spacer * 3 !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.px-1 {
  padding-left: $spacer * .25 !important;
  padding-right: $spacer * .25 !important;
}
.px-2 {
  padding-left: $spacer * .5 !important;
  padding-right: $spacer * .5 !important;
}
.px-3 {
  padding-left: $spacer !important;
  padding-right: $spacer !important;
}
.px-4 {
  padding-left: $spacer * 1.5 !important;
  padding-right: $spacer * 1.5 !important;
}
.px-5 {
  padding-left: $spacer * 3 !important;
  padding-right: $spacer * 3 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.py-1 {
  padding-top: $spacer * .25 !important;
  padding-bottom: $spacer * .25 !important;
}
.py-2 {
  padding-top: $spacer * .5 !important;
  padding-bottom: $spacer * .5 !important;
}
.py-3 {
  padding-top: $spacer !important;
  padding-bottom: $spacer !important;
}
.py-4 {
  padding-top: $spacer * 1.5 !important;
  padding-bottom: $spacer * 1.5 !important;
}
.py-5 {
  padding-top: $spacer * 3 !important;
  padding-bottom: $spacer * 3 !important;
}
 