<div>
  
  <section class="mat-typography">
    <h1 class="text color primary">Hoy</h1>
  </section>

  <mat-card class="history item" *ngFor="let item of items">
    
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>alarm</mat-icon> 
        <div mat-line>
          <div class="table">
            <div class="table row">
              <span class="table cell">{{ item.hour }}</span>
              <span [ngClass]="{'history':true, 'table':true, 'cell':true, 'text':true, 'align':true, 'right':true, 'color':true, 'primary':item.state=='created', 'blue':item.state=='in progress', 'warn':item.state=='canceled' || item.state=='uncompleted', 'green':item.state=='completed'}">
                {{ item.state }}
              </span>
            </div>
          </div>
        </div>
      </mat-list-item>

      <mat-divider class="history divider"></mat-divider>
      <mat-list-item>
        <mat-icon mat-list-icon>list</mat-icon>
        <div mat-line>{{ item.events }} eventos</div>
      </mat-list-item>
      <mat-divider class="history divider"></mat-divider>
      <mat-list-item>

        <mat-icon mat-list-icon>attach_money</mat-icon>
        <div mat-line>{{ item.amount | currency:'USD':'symbol':'3.0-0' }}</div>
      </mat-list-item>
    </mat-list>
    
  </mat-card>

  <div class="text align center mt-1 mb-3">
    <button mat-button color="primary" (click)="goToCreate()">
      <mat-icon color="primary">add_circle</mat-icon>
      Nuevo Mandado
    </button>
  </div>

</div>
