@import '~@angular/material/theming';

.create {
  padding: 0;
  &.titlebar {
    background-color: #303030;
    border-radius: 4px 4px 0 0;
  }
}

.delete {
  background-color: mat-color($mat-deep-orange, 300);
}

.event + .event {
  margin-top: 1em;
}