<div>
  <section class="mat-typography">
    <h1 class="text color primary">Nuevo Mandado</h1>
  </section>

  <mat-card class="create event" *ngFor="let event of form.get('events')['controls']; let idx = index;">
    <div class="create titlebar">
      <h4 class="text align center">{{ event.value.number }}</h4>  
    </div>

    <div class="fill width">
      
      <div [ngClass]="{'d-flex':true, 'pr-3':event.value.toDelete=='false', 'pl-3':event.value.toDelete=='true'}">
        
        <div styles="width: 40px" class="d-flex items align center" *ngIf="event.value.toDelete=='false'">
          <button mat-button matSuffix mat-icon-button (click)="event.value.toDelete='true'">
            <mat-icon class="text color warn">remove_circle</mat-icon>
          </button>
        </div> 
      
        <div class="fill width" (click)="event.value.toDelete='false'">
          <div class="d-flex fill width">
            <mat-icon class="mr-2 mt-2">place</mat-icon>
            <mat-form-field class="flex-2">
              <mat-label>Dirección</mat-label>
              <input matInput type="text" [formControl]="event.controls.address">
              <button mat-button *ngIf="event.value.address.length > 0" matSuffix mat-icon-button (click)="event.controls.address.reset()">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-form-field>
          </div>
  
          <div class="d-flex">
            <mat-icon class="mr-2 mt-2">list_bulleted</mat-icon>
            <mat-form-field class="flex-2">
              <mat-label>Descripción</mat-label>
              <textarea matInput type="text" [formControl]="event.controls.description" class="fill width"></textarea>
              <button mat-button *ngIf="event.value.description.length > 0" matSuffix mat-icon-button (click)="event.controls.description.reset()">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-form-field>
          </div>

        </div>
        
        <div styles="width: 40px" class="d-flex ml-1 items align center delete" *ngIf="event.value.toDelete=='true'" (click)="onDeleteEvent(idx)">
          <button mat-button matSuffix mat-icon-button>
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>

      </div>
      
    </div>
  </mat-card>

  <div class="d-flex mt-3 mb-3">
    <div>
      <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="onAddEvent()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    
    <div class="text align center ml-5">
      <button mat-button color="primary" (click)="onSubmit()">
        <mat-icon color="primary">check_circle</mat-icon>
        Pedir Mandado
      </button>
    </div>
  </div>
</div>
